# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
tmp

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tmp

# Local Netlify folder
.netlify