---
const currentYear = new Date().getFullYear();
---

<div>
  <div class="footer">
    <div class="footer-container">
      <h3>
        NodeCMS.guide is hosted and maintained by
        <strong><a href="https://ghost.org">Ghost</a></strong>, a fiercely
        independent platform for professional publishers.
      </h3>
    </div>
    <div class="postscript">Ghost Foundation &copy; {currentYear}</div>
  </div>
</div>
